<%- include("parcials/header") -%>

    <h1>Compose</h1>

    <form action="/compose" method="POST">
        <div class="form-group">
            <label for="postTitle">Title</label>
            <input type="text" class="form-control" name="postTitle">
        </div>
        <div class="form-group">
            <label for="postBody">Post</label>
            <textarea name="postBody" class="form-control" cols="30" rows="5"></textarea>
        </div>
        <button type="submit" name="button" class="btn btn-primary">Publish</button>
    </form>

<%- include("parcials/footer") -%>